
html {
	background-color:#ddd;
}

.header {
	width:1440px;
	height:75px;
	border:none;
}
.divheader{
	margin:auto;
	box-align:center;
	width:auto;
}
.menubar{
	text-align: center;
	width:auto;
	margin:auto;
	margin-bottom:-1em;	
}

.hidden {
	display:none;
}

.jumbotron {
	background-image: url( "space_image.jpg" );
	margin-top:-2em;
	position:relative;
}

.intro {
	color:white;
}

.introsent{
	margin:2em;	
	background-color:#888888;
	border-radius: 1em;
}
.introsent h1 {
	margin-left:6em;
	padding: 1em;
}
.introsent p {
	margin-left: 4em;
	padding: 1em;
}
.introsent article {
	margin:2em;
}
.introsent a {
	color:black;
}

@media (max-width:767px) {
	.introsent h1 {
		margin-left:0.5em;
	}
	.introsent p {
		margin-left:0.75em;
	}
}

@media (max-width:479px) {
	.header {
		width:auto;
	}
}

.resume {
	border:1em #888 solid;
	width:780px;
	margin:auto;
	margin-bottom:5em;
	border-radius:1em;
}
.resume canvas {
	background-color:#ddd;
}

#resume {
	border:1em #888 solid;
	width:750px; /* We must use exact px width due to nature of the Processing JS plugin */
	margin:auto;
}


/* For Experience page  */
.accordion {
	text-align: center;
	background-color:#ddd;
	margin:3em;
	border-radius:1em;
	padding: 1em;
}

.gradient {
	/* Thank You http://www.colorzilla.com/gradient-editor/  
	 * Used for accordion on experience page
	 * */
	background: rgb(38,85,139); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(38,85,139,1) 38%, rgba(206,219,233,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(38%,rgba(38,85,139,1)), color-stop(100%,rgba(206,219,233,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(38,85,139,1) 38%,rgba(206,219,233,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(38,85,139,1) 38%,rgba(206,219,233,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(38,85,139,1) 38%,rgba(206,219,233,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(38,85,139,1) 38%,rgba(206,219,233,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26558b', endColorstr='#cedbe9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.head {
	border-radius:10px;
	text-align:center;
	width: 500px;
	margin:auto;
	color: #dddddd;
	
}

.head:hover {	
	background: rgb(206,219,233); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(206,219,233,1) 33%, rgba(38,85,139,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(33%,rgba(206,219,233,1)), color-stop(100%,rgba(38,85,139,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(206,219,233,1) 33%,rgba(38,85,139,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(206,219,233,1) 33%,rgba(38,85,139,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(206,219,233,1) 33%,rgba(38,85,139,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(206,219,233,1) 33%,rgba(38,85,139,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color:black;
}

.edu_table {
	border-radius: 10px;
	border:2px solid blue;
	padding:5px 5px 5px 5px;
	margin:auto;
	text-align:center
}

.edu_table td {border: 2px solid blue; padding:5px 5px 5px 5px; text-align:center;}

.space {
	margin:25em;
}

#GAF_projects_horizontal_box {
    border: 0px solid #5D5E91;
    background-color: white;
}
