.jumbotron {
	margin-top:-1.5em;
	background-image: url( "space_image.jpg" );
}

.intro {
	color:white;
}

.resume {
	border:1em #888 solid;
	width:780px;
	margin:auto;
	margin-bottom:5em;
}

#resume {
	border:1em #888 solid;
	width:800px;
	margin:auto;
}

.accordion {
	text-align: center;
}

.gradient {
	background-color: #777;
	color: #ddd;
	width:20em;
	text-align:center;
}

.edu_table {
	text-align:center;
}
